@model IEnumerable<MVC5Course.Models.Client>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList;
@using PagedList.Mvc;

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>



<h2>Index</h2>

@using (Html.BeginForm("Index", "Clients", FormMethod.Get, new { name = "form1" }))
{
<p>
    @Html.DropDownList("Gender", null, "--請選擇性別--", new { @onchange = "this.form.submit();" })
    @Html.DropDownList("CreditRating", null, "-- 請選擇 Rating --", new { @onchange = "this.form.submit();" } )

   
    @Html.ActionLink("Create New", "Create") |
    @Ajax.ActionLink("取得時間", "GetTime", new AjaxOptions { UpdateTargetId="time"}) : <span id="time">N/a</span>

    @Html.Hidden("pageIndex")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditRating)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth, "ChineseDateTime")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditRating, "CreditRating")
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ClientId }) |
            @Html.ActionLink("Details", "Details", new { id = item.ClientId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ClientId })
        </td>
    </tr>
}

</table>

   

    @Html.PagedListPager(Model as IPagedList, p => "javascript:change_page_index('" + p + "');")

}

@section Scripts
{
    <script>
        function change_page_index(page)
        {
            document.getElementById("pageIndex").value = page;
            document.getElementById("pageIndex").form.submit();
            return false;
        }
    </script>
}
